:root {
  scroll-behavior: smooth;  /* плавность прокрутки без js */
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000201;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1432px;
  padding: 0 66px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__link {
  display: block;
}

.link-show-trailer {
  padding: 14px 20px 14px 20px;
  border-radius: 52px;
  background-color: #ff3d00;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
}

.link-show-trailer:hover {
  background-color: #ff521b;
}

.link-show-trailer:focus {
  border-color: #ffffff;
  background-color: #ff521b;
}

.hero {
  padding-bottom: 60px;
  padding-top: calc(476 / 1440 * 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.76) 65%),
    image-set(
      url('../images/banner1400@2x.avif') type('image/avif') 2x,
      url('../images/banner1400.avif') type('image/avif'),
      url('../images/banner1400@2x.webp') type('image/webp') 2x,
      url('../images/banner1400.webp') type('image/webp'),
      url('../images/banner1400@2x.jpg') 2x,
      url('../images/banner1400.jpg')
    );
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.hero__banner {
  max-width: 100%;
  width: 795px;
  margin-bottom: 2px;
}

.hero__date {
  color: #ff3d00;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero__link {
  display: none;
}

.hero__arrow {
  width: 64px;
  height: 64px;
}

.hero__arrow:hover {
  color: #ff521b;
}

.about {
  padding: 60px 0;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about__content {
  flex-basis: 750px;
}

.about__title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 32px;
}

.about__text {
  font-size: 20px;
}

.about__container::after {
  content: '';
  flex-basis: 530px;
  background-image: url('../images/aang.jpg');
  background-image: -webkit-image-set(
    url('../images/aang@2x.avif') type('image/avif') 2x,
    url('../images/aang.avif') type('image/avif') 1x,
    url('../images/aang@2x.webp') type('image/webp') 2x,
    url('../images/aang.webp') type('image/webp') 1x,
    url('../images/aang@2x.jpg') 2x,
    url('../images/aang.jpg') 1x
  );
  background-image: image-set(
    url('../images/aang@2x.avif') type('image/avif') 2x,
    url('../images/aang.avif') type('image/avif') 1x,
    url('../images/aang@2x.webp') type('image/webp') 2x,
    url('../images/aang.webp') type('image/webp') 1x,
    url('../images/aang@2x.jpg') 2x,
    url('../images/aang.jpg') 1x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .about__pic {
  flex-basis: 530px;
} для варианта с html*/


.trailers {
  padding: 60px 0 120px;
}

.trailers__buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.trailers__button {
  padding: 14px 20px;
  border-radius: 8px;
  background-color: #272928;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.trailers__button_active {
  background-color: #ff3d00;
}

.trailers__button:focus, .trailers__button:hover {
  background-color: #ff521b;
}

.trailers__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* результат деления 9 на 16 */
  height: 0;
  overflow: hidden;
}

.trailers__video {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #101010;
  line-height: 1.4;
}

.footer__container {
  display: grid;
  gap: 36px;
  grid-template-areas: 
    "developers logo"
    "copyright logo";
}

.footer__developers {
  grid-area: developers;
}

.footer__link {
  margin-bottom: 7px;
}

.footer__link:hover {
  color: #ff521b;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__logo {
  width: 287px;
  grid-area: logo;
  justify-self: end;
  align-self: end;
}

@media (max-width: 1080px) {

  .hero {
    padding-top: calc(337 / 1024 * 100%);
    padding-bottom: 50px;
    background-image: linear-gradient(
      180deg, 
      rgba(0, 0, 0, 0) 52%,
      rgba(0, 0, 0, 0.76) 65%),
      image-set(
        url('../images/banner1024@2x.avif') type('image/avif') 2x,
        url('../images/banner1024.avif') type('image/avif'),
        url('../images/banner1024@2x.webp') type('image/webp') 2x,
        url('../images/banner1024.webp') type('image/webp'),
        url('../images/banner1024@2x.jpg') 2x,
        url('../images/banner1024.jpg')
      );
  }

  .hero__banner {
    width: 639px;
  }

  .hero__date {
    font-size: 32px;
  }

  .about {
    padding: 50px 0;
  }

  .about__container::after {
    flex-basis: 50%;
    background-image: url('../images/aang1024.jpg');
  }

  .about__content {
    flex-basis: 50%;
  }

  .about__title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .about__text {
    font-size: 16px;
  }

  .trailers {
    padding: 50px 0 100px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 44px;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo {
    width: 130px;
  }

  .hero {
    padding-top: calc(337 / 768 * 100%);
    padding-bottom: 40px;
    background-image: linear-gradient(
      180deg, 
      rgba(0, 0, 0, 0) 52%,
      rgba(0, 0, 0, 0.76) 65%),
      image-set(
        url('../images/banner768@2x.avif') type('image/avif') 2x,
        url('../images/banner768.avif') type('image/avif'),
        url('../images/banner768@2x.webp') type('image/webp') 2x,
        url('../images/banner768.webp') type('image/webp'),
        url('../images/banner768@2x.jpg') 2x,
        url('../images/banner768.jpg')
      );
  }

  .hero__date {
    margin-bottom: 12px;
  }

  .hero__arrow {
    width: 36px;
    height: 36px;
  }

  .about__container {
    flex-direction: column;
  }

  .about__content {
    flex-basis: auto;
  }

  .about__container::after {
    flex-basis: 300px;
    background-image: url('../images/aang768.jpg');
  }

  .about__title {
    max-width: 370px;
  }

  .trailers {
    padding: 40px 0 80px;
  }
  
  .trailers__buttons {
    gap: 8px;
  }
  
  .trailers__button {
    font-size: 12px;
    padding: 10px 16px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 16px;
  }

  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__logo {
    width: 80px;
  }

  .header__link {
    display: none;
  }

  .hero {
    padding-top: calc(173 / 320 * 100%);
    padding-bottom: 30px;
    background-image: linear-gradient(
      180deg, 
      rgba(0, 0, 0, 0) 52%,
      rgba(0, 0, 0, 0.76) 65%),
      image-set(
        url('../images/banner320@2x.avif') type('image/avif') 2x,
        url('../images/banner320.avif') type('image/avif'),
        url('../images/banner320@2x.webp') type('image/webp') 2x,
        url('../images/banner320.webp') type('image/webp'),
        url('../images/banner320@2x.jpg') 2x,
        url('../images/banner320.jpg')
      );
  }

  .hero__date {
    font-size: 20px;
  }

  .hero__link {
    display: block;
    margin-bottom: 32px;
  }

  .about {
    padding: 30px 0;
  }
  
  .about__container::after {
    background-image: url('../images/aang320.jpg');
  }

  .about__title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .trailers {
    padding: 30px 0 60px;
  }

  .trailers__container {
    padding: 0;
  }
  
  .trailers__buttons {
    gap: 8px;
    padding: 0 16px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .trailers__buttons::-webkit-scrollbar {
    display: none;
  } /* для сафари скрыть скролл */
  
  .trailers__button {
    font-size: 12px;
    padding: 10px 16px;
  }

  .trailers__list {
    padding: 0 16px;
  }
}