@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000201;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1432px;
  padding: 0 66px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {

}

.header__link {
  padding: 14px 20px 14px 20px;
  border-radius: 52px;
  background-color: #ff3d00;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
}

.header__link:hover {
  background-color: #ff521b;
}

.header__link:focus {
  border-color: #ffffff;
  background-color: #ff521b;
}

.hero {
  padding: 404px 0 120px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hero__banner {

}
.hero__date {
  color: #ff3d00;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.hero__arrow {

}

.about {
  padding: 60px 0;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about__content {
  flex-basis: 750px;
}

.about__title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 32px;
}

.about__text {
  font-size: 20px;
}

.about__pic {
  flex-basis: 530px;
}

.trailers {
  padding: 60px 0 120px;
}

.trailers__buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 16px;
}

.trailers__button {
  padding: 14px 20px;
  border-radius: 8px;
  background-color: #272928;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.trailers__button_active {
  background-color: #ff3d00;
}

.trailers__button:focus, .trailers__button:hover {
  background-color: #ff521b;
}

.trailers__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* результат деления 9 на 16 */
  height: 0;
  overflow: hidden;
}

.trailers__video {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #101010;
  line-height: 1.4;
}

.footer__container {
  display: grid;
  gap: 36px;
  grid-template-areas: 
    "developers logo"
    "copyright logo";
}

.footer__developers {
  grid-area: developers;
}

.footer__link {
  margin-bottom: 7px;
}

.footer__link:hover {
  color: #ff521b;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__logo {
  width: 287px;
  grid-area: logo;
  justify-self: end;
  align-self: end;
}
